
    
    
<div class="list list-inset">
    <span>{{errorMsg}}</span>
  <label class="item item-input">
    <input type="text" name="skiArea" ng-model="skiArea" placeholder="Ski Area">
  </label>
  <label class="item item-input">
    <input type="text" name="country" ng-model="country" placeholder="Nazione">
  </label>
    <label class="item item-input">
    <input type="text" name="city" ng-model="city" placeholder="Citta'">
  </label>
    <label class="item item-input">
    <input type="text" name="skipassPrice" ng-model="skipassPrice" placeholder="Prezzo Skipass">
  </label>
</div>

<button class="button button-full button-positive" ng-click="addSkiArea()">
  Salva la nuova Ski Area
</button>

